/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header {
    background-color: #007bff;
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Conteúdo principal */
main {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

#log-content {
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    height: 120px;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #ccc;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.download-button,
#clear-logs {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.download-button:hover,
#clear-logs:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1rem;
}

#temperature-display {
    font-size: 2rem;
    color: #007bff;
}

#countdown {
    font-size: 1.5rem;
    margin-top: 10px;
    color: red;
}

/* Responsividade */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    main {
        padding: 15px;
    }

    #log-content {
        font-size: 0.875rem;
    }

    .download-button,
    #clear-logs {
        padding: 8px 16px;
        font-size: 0.875rem;
    }
}
